
.icon-heart-broken:before { content: '\f028'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-info-circled:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */