main {
  width: 100%;
}

.content-container {
  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content {
  border-left: 1px solid #999;
  width: 70vw;
  padding-left: 50px;
}
