footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 25px;
  background-color: #2b2b2b;
}

.footer__inner {
  margin: auto;
  max-width: 1200px;
  text-align: right;
  color: #999;
}
