@font-face {
  font-family: fontello;
  src: url('./fonts/fontello-98192e8b/font/fontello.woff2') format('woff2'),
  url('./fonts/fontello-98192e8b/font/fontello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #555;
}
